@keyframes swing {
	20% { transform: rotate(7.5deg); }
	40% { transform: rotate(-3deg); }
	60% { transform: rotate(2.5deg); }
	80% { transform: rotate(-0deg); }
	100% { transform: rotate(0deg); }
}

.swing {
	transform-origin: top center;
	animation-name: swing;
}